<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASTUJudge</title>
		{%load static%}
            <link rel="stylesheet" href="{% static 'files/bootstrap/css/bootstrap.css' %}"  type="text/css" >
		<link rel="stylesheet" href="{% static 'files/style10.css' %}"  type="text/css" >
</head>
<body>
    <!-- Start Header Area -->
	<header id="header">
		<div class="container">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
                    <a href="#" style="margin-left:10%;"><img src="{% static 'Images/logo.png' %}" alt="" title=""/></a>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Courses</a></li>
						<li class="menu-has-children"><a href="">Pages</a>
							<ul>
								<li><a href="#">Elements</a></li>
							</ul>
						</li>
						<li class="menu-has-children"><a href="">Blog</a>
							<ul>
								<li><a href="#">Blog Home</a></li>
								<li><a href="#">Blog Details</a></li>
							</ul>
						</li>
						<li><a href="#">Contact</a></li>
					</ul>

			</nav><!-- #nav-menu-container -->
		</div>
	</header>
	<!-- End Header Area -->

</body>
</html>