
#header {
  margin: 0;
  background-color: #000;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  }

  .nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
  }

  .nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99; }

  .nav-menu li {
  position: relative;
  white-space: nowrap; }

  .nav-menu > li {
  float: right; }



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
